{% extends "layout.html" %}

{% block content %}

<!-- Intro -->
            <section class="site-section site-section-light site-section-top themed-background-dark">
                <div class="container">
                    <h1 class="animation-slideDown"><strong>Latest News</strong></h1>
                    <h2 class="h3 animation-slideUp">Learn about our progress and offers!</h2>
                </div>
            </section>
            <!-- END Intro -->

<!-- Content -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row">
                        <!-- Posts -->
                        
                        <div class="col-sm-8 col-md-9">
                            {% for post in posts %}
                            <!-- Blog Post -->
                            <div class="site-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <a href="blog_post.html">
                                                <img src="img/placeholders/photos/photo1.jpg" alt="image" class="img-responsive">
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="site-heading"><strong>{{ post.title }}</strong></h3>
                                        {% if post.excerpt %}
                                        {{ post.excerpt }}
                                    	{% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a href="{{ baseUrl() }}/{{ post.route }}" class="label label-primary">Read more..</a>
                                    </p>
                                    <ul class="list-inline pull-left">
                                        <li><i class="fa fa-calendar"></i> {{ post.published }}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END Blog Post -->

                            {% endfor %}

                            <!-- Pagination -->
                            <div class="text-right">
                                <ul class="pagination">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- END Pagination -->
                        </div>
                        <!-- END Posts -->

                        <!-- Sidebar -->
                        <div class="col-sm-4 col-md-3">
                            <aside class="sidebar site-block">
                                <!-- Search -->
                                <div class="sidebar-block">
                                    <form action="blog.html" method="post" onsubmit="return false;">
                                        <div class="input-group">
                                            <input type="text" id="search-term" name="searh-term" class="form-control" placeholder="Search..">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END Search -->

                                <!-- Categories -->
                                <div class="sidebar-block">
                                    <h4 class="site-heading"><strong>News</strong> Categories</h4>
                                    <ul class="fa-ul ul-breath">
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Updates</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Special Offers</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Products</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Features</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Articles</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Tutorials</a></li>
                                        <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Guides</a></li>
                                    </ul>
                                </div>
                                <!-- END Categories -->

                                <!-- Popular and Recent -->
                                <div class="sidebar-block">
                                    <h4 class="site-heading"><strong>Best</strong> Articles</h4>
                                    <ul class="nav nav-tabs push-bit" data-toggle="tabs">
                                        <li class="active"><a href="#posts-popular"><i class="fa fa-trophy"></i> Popular</a></li>
                                        <li><a href="#posts-recent"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="posts-popular">
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar12.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to be more productive</strong></a></h5>
                                                <small class="text-muted">1 year ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar2.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>CSS3 &amp; HTML5 Tutorial</strong></a></h5>
                                                <small class="text-muted">6 days ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar3.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to push your company forward</strong></a></h5>
                                                <small class="text-muted">15 days ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar1.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to stop procrastination</strong></a></h5>
                                                <small class="text-muted">2 years ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar11.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>New updates and more!</strong></a></h5>
                                                <small class="text-muted">1 month ago</small>
                                            </div>
                                            <div class="text-right">
                                                <a href="javascript:void(0)" class="label label-primary">Read More..</a>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="posts-recent">
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to push your company forward</strong></a></h5>
                                                <small class="text-muted">1 day ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar4.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>New updates and more!</strong></a></h5>
                                                <small class="text-muted">1 week ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar16.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to be more productive</strong></a></h5>
                                                <small class="text-muted">2 weeks ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar9.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>CSS3 &amp; HTML5 Tutorial</strong></a></h5>
                                                <small class="text-muted">1 month ago</small>
                                            </div>
                                            <div class="content-float clearfix">
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="Avatar" class="img-circle pull-left">
                                                <h5><a href="javascript:void(0)"><strong>How to stop procrastination</strong></a></h5>
                                                <small class="text-muted">2 months ago</small>
                                            </div>
                                            <div class="text-right">
                                                <a href="javascript:void(0)" class="label label-primary">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Popular and Recent -->

                                <!-- About -->
                                <div class="sidebar-block">
                                    <h4 class="site-heading"><strong>About</strong> Us</h4>
                                    <p>Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices.</p>
                                </div>
                                <!-- END About -->
                            </aside>
                        </div>
                        <!-- END Sidebar -->
                    </div>
                </div>
            </section>
            <!-- END Content -->

{% endblock %}