{% extends "layout.html" %}

{% block content %}
<!-- Media Container -->
            <div class="media-container">
                <!-- Intro -->
                <section class="site-section site-section-light site-section-top">
                    <div class="container">
                       
                        <h1 class="animation-slideDown"><strong>{{ info.title }}</strong></h1>
                        <h2 class="h3 animation-slideUp hidden-xs">{{ published }}</h2>
                    </div>
                </section>
                <!-- END Intro -->

                <!-- For best results use an image with a resolution of 2560x279 pixels -->
                <img src="img/placeholders/headers/blog_post.jpg" alt="Image" class="media-image animation-pulseSlow">
            </div>
            <!-- END Media Container -->

            <!-- Article -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 site-block">
                            <!-- Story -->
                            <article>
                                {{ content|raw }}
                            </article>
                            <!-- END Story -->
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Article -->


{% endblock %}